target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Local Development Files ###
.idea/dataSources.xml
.idea/db-forest-config.xml
.idea/misc.xml

build.log
zentra-schema.sql

### React / Vite ###
zentra-admin/node_modules/
zentra-admin/dist/
zentra-admin/.vite/

### React Logs ###
zentra-admin/npm-debug.log*
zentra-admin/yarn-debug.log*
zentra-admin/yarn-error.log*
zentra-admin/pnpm-debug.log*

### Environment ###
zentra-admin/*.local